
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'images\E-com_logo.svg' %}" alt="logo" class="w-full h-48" />
            <ul>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>